<style type="text/css">
	div{
		margin:15px;
	}
</style>

<div ng-controller='OrdersController'>

<input type="text" placeholder="search..." ng-model="filter_products">

<h1>Recent Products</h1>
<ul>
	<li ng-repeat="product in products | limitTo: 4 : 0 | filter: filter_products">
		{{product.name}} : {{product.quantity}}
	</li>
</ul>

<h1>Recent Orders</h1>
<ul>
	<li ng-repeat="order in orders | limitTo: 3:0 | filter: filter_orders">
		{{order.name}} purchased {{order.quantity}}
	</li>
</ul>

<h1>New Customers</h1>
<ul>
	<li ng-repeat="friend in friends | filter: filter_name">
		{{friend.name}}
	</li>

</ul>


</div>